html {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  background-color: rgb(231, 231, 231);
}

body {
  background-color: white;
  margin: 0;
  padding-left: 3rem;
  padding-right: 3rem;
}

@media (min-width: 700px) {
  body {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}